.step-1, .step-2 {
  display: flex;
  height: 460px;
}

.step-1 {
  background: url(../images/bg-pentagon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 475px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.step-2 {
  width: 990px;
  padding: 25px 0;
  justify-content: center;
}

.step-1 .line-2, .step-1 .line-3 {
  display: flex;
  justify-content: space-between;
}

.step-1 .line-2 {
  width: 100%;
  margin-top: -58px;
}

.step-1 .line-3 {
  width: 72%;  
}

.step-2 .block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-2 .block:first-child {
  padding-left: 10px;
}

.step-2 .block:nth-child(2) {
  text-align: center;
  justify-content: center;
  min-width: 70px;
}

.step-2 .block:last-child {
  padding-right: 28px;
}

.step-2 .block .controls {
  padding-left: 70px;
  padding-right: 40px;
  margin-right: 15px;
  margin-left: 5px;
}

.step-2 h1, .step-2 h2 {
  color: white;
  text-transform: uppercase;
  margin: 0;
}

.step-2 h1 {
  font-size: 56px;
  margin-bottom: 15px;
}

.step-2 h2 {
  font-size: 26px;
  margin-bottom: 65px;
  letter-spacing: 2px;
}

.step-2 button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  border-radius: 8px;
  padding: 13px 55px;
  margin-bottom: 10px;
}

.step-1 .icon, .step-2 .icon {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-1 .icon {
  cursor: pointer;
  border: 18px solid;
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
}

.step-2 .icon {
  border: 30px solid;
  width: 235px;
  height: 235px;
}

.step-2 .icon.turned{
  border: none;
  margin: 30px;
  background: hsl(237, 49%, 15%, 30%);
}

.hidden {
  display: none;
}