.step-1, .step-2 {
  display: flex;
  height: 460px;
}

.step-1 {
  background: url(/images/bg-pentagon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 475px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.step-2 {
  width: 700px;
  border: 1px solid red;
}

.step-1 .line-2, .step-1 .line-3 {
  display: flex;
  justify-content: space-between;
}

.step-1 .line-2 {
  width: 100%;
  margin-top: -58px;
}

.step-1 .line-3 {
  width: 72%;  
}

.step-2 .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-2 h1 {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 2px;
  margin: 0;
}

.step-2-bk .line-1 h1:first-child {
  padding-left: 86px;
}

.step-2-bk .line-1 h1:last-child {
  text-align: center;
}

.step-2-bk .line-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -25px;
  padding: 0 8px;
}

.step-1 .icon, .step-2 .icon {
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-1 .icon {
  cursor: pointer;
  border: 18px solid;
  width: 110px;
  height: 110px;
}

.step-2 .icon {
  border: 36px solid;
  width: 300px;
  height: 300px;
}

.step-2-bk .icon-void {
  border-radius: 50%;
  background: hsl(237, 49%, 15%, 50%);
  width: 225px;
  height: 225px;
  margin-right: 56px;
}

.hidden {
  display: none;
}